@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.active-item{
    border-bottom: 4px solid #09233A;
}
.main{
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1685895324391-ba9e104fd2d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
    background-size: cover;
    overflow: hidden;
}
.nav{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.nav-right{
    display: flex;
    
   
}
.nav-item{
    padding: 0 0 0 1.5vw;
    font-size: 1.3rem;
}
.nav h1 {
    font-size: 2rem;
    padding: 0 4%;
   
}
.search {
    font-size: 2.1rem;
    display: flex;
    align-items: center;
    margin: 0 5vw 0 0 ;
    
    
}
.search i:hover{
    scale: 1.2;
}
.nav-item a:hover{
    transform: translateY(-10px);
    cursor: pointer;
    color: #09233A;
    transition: 2s liner ease-in-out;
    
}
a{
    color: white;
}











@media (min-width:0px) and (max-width:500px) and (min-height:0px) and 
  (max-height:1000px){
    .main{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-image: url(https://images.unsplash.com/photo-1685895324391-ba9e104fd2d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
        background-position: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;   
     }
    .nav{
        width: 100vw;
        height: 10vh;

    }
    .nav-right{
        padding-right: 4vw;

    }
    .nav h1{
        font-size: 1.5rem;
        padding-left: 2.2vw;
        font-weight: bolder;
        

    }
    .nav-item{
        display: flex;
        font-size: 0.90rem;
        padding-left: 2vw;
        /* padding-right: 1vw; */
        
    }
    /* .nav-item a:hover{
        transform: translateY(-10px);
        cursor: pointer;
        color: #09233A;
        transition: 2s liner ease-in-out;
         */
    /* } */
    .search{
        display: none;
    }
}
span{
    color: #09233A;
}

.content{
    height: 85vh;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-top: 4em;
 }
.form{
    height:60vh;
    width:30vw;
    /* margin-right: 9em; */
    background-color: #09233A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 5px 5px 15px #09233A;
    flex-direction: column;
    padding: 1em;
}
.logos{
    display: flex;
    padding-left: 1em;

}
.logos i{
    padding-left: 1em;
    padding-top: 1em;
    font-size: 2em;
    cursor: pointer;
    font-weight: bolder;

}
 .form input{
    border: none;
    border-radius: 0.4em;
    padding: 0.8;
    padding-left: 1em;
    /* padding-right: 10em; */
    margin-bottom: 1em;
    height: 2.8em;
   

}
.content p {
    font-size: 1.8em;
    color: white;
    font-weight: 600;
    margin-left: 0.7em;
}
.mes-in input{
    height: 5em;
    width: 100%;
    
   

}
.email-in input{
    width: 100%;
    
   

}
.phone-in input{
    width: 100%;
    
   

}
.name-in input{
    width: 100%;
    
   

}
.submit-btn{
    width: 7em;
    height: 3em;
    border-radius: 1em;
    color: #09233A;
    background-color: white;
    cursor: pointer;
    font-weight: bolder;
}
.submit-btn:hover{
    /* background-color: #113b60 */
    /* font-size: small; 
    */
    transform: translateY(-4px);
}



/* MEDIA QUERIES */

  @media (min-width:0px) and (max-width:376px) and (min-height:0px) and 
  (max-height:668px){
    .content{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }
    i{
        /* padding: em; */
        margin: 0.3em;
    }
    .form{
        height: 50vh;
        width: 70vw;
        margin-bottom: 5em;
    }
   
      .content p {
        font-size: 1.5em;
    
    }
  
    .logos i {
        font-size: 1.5em;
        padding: 0;
        padding-left: 0.5em;
    }
  .hero{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

   }
   
  @media (min-width:0px) and (max-width:412px) and (min-height:0px) and 
  (max-height:914px){
  
    .content{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }
    i{
        /* padding: em; */
        margin: 0.3em;
    }
    .form{
        position: relative;
         bottom: 10vh;
        height: 40vh;
        width: 70vw;
        /* margin-bottom: 5em; */
    }
   
      .content p {
        font-size: 1.4em;
    
    }
  
    .logos i {
        font-size: 1.5em;
        padding: 0;
        padding-left: 0.5em;
    }
  .hero{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

   }
   @media (min-width:0px) and (max-width:415px) and (min-height:0px) and 
   (max-height:917px){
   
     .content{
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
 
     }
     i{
         /* padding: em; */
         margin: 0.3em;
     }
     .form{
         position: relative;
          bottom: 10vh;
         height: 40vh;
         width: 70vw;
         /* margin-bottom: 5em; */
     }
    
       .content p {
         font-size: 1.4em;
     
     }
   
     .logos i {
         font-size: 1.5em;
         padding: 0;
         padding-left: 0.5em;
     }
   .hero{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
   }
 
    }
   @media (min-width:0px) and (max-width:380px) and (min-height:0px) and 
   (max-height:680px){
   
     .content{
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         margin: 0;
         
     }
     i{
         margin: 0.3em;
     }
     .form{
     position: relative;
     bottom: 0;     
         height: 45vh;
         width: 70vw;
     }
    
       .content p {
         font-size: 1.4em;
     
     }
   
     .logos i {
         font-size: 1.5em;
         padding: 0;
         padding-left: 0.5em;
     }
   .hero{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
   }
 
    }
  
































































 
   /* mq for nav */
  
        @media (min-width:0px) and (max-width:281px) and (min-height:0px) and 
           (max-height:654px){
            /* .btn-2 button{
                margin-top: 8em;
                 margin-right:4em; 
            }   */
            .main{
                width: 100vh;
            }
            .nav-item{
                display: flex;
                font-size: 0.65rem;
                padding-left: 2vw;
                /* padding-right: 1vw; */
              
            }
            .nav h1{
                font-size: 1rem;
                padding-left: 2.2vw;
                font-weight: bolder;
                
        
            } 
        }